<h5 class="card-header">
    <%= image_tag(user.avatar, class: "ui-w-100-forced rounded-circle mr-3", style: "width: 90px; height: 90px") %>
    <%= link_to user.name, user == current_user ? user_profile_path : user_user_path(user) %>
    <br>
   
</h5>